<div id="gantt">
  <ul class="nav nav-tabs" role="tablist" id="tabs">
    <li role="presentation"><a href="#nodes" aria-controls="nodes" role="tab" data-toggle="tab">Nodes</a></li>
    <li role="presentation"><a href="#qos" aria-controls="qos" role="tab" data-toggle="tab">QoS</a></li>
  </ul>

  <h1 class="page-header">
    Gantt
  </h1>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="nodes"></div>
    <div role="tabpanel" class="tab-pane" id="qos"></div>
  </div>
</div>
