<div id="3d-view">
  <h1 class="page-header">
    3D View
  </h1>
    <div class="row">
      <ul class="nav nav-tabs" role="tablist" id="tabs">
        <li role="presentation" class="active">
          <a href="#camera" aria-controls="orbit" role="tab" data-toggle="tab">Camera Orbit</a>
        </li>
        <li role="presentation">
          <a href="#camera" aria-controls="fps" role="tab" data-toggle="tab">Camera First Person</a>
        </li>
      </ul>
      <ul class="nav nav-tabs" role="tablist" id="tabs">
        <li role="presentation">
          <a href="#fullscreen">Fullscreen</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <canvas width="0" height="0"/>
    </div>
</div>
