<div id="3d-view" style="visibility:hidden;">
  <h1 class="page-header">
    3D View
  </h1>
  <iframe src="3d-view.html?cluster={{cluster}}" width="100%" height="100%" frameborder="0">
  </iframe>
</div>
