*.pyc
*.min.js
doc/_build
dashboard/js/fonts
.vscode
*.log
*.debhelper
*.substvars
debian/files
debian/slurm-web-confdashboard/
debian/slurm-web-dashboard/
debian/slurm-web-restapi/
debian/slurm-web/
debian/.debhelper/
