[Unit]
Description=Slurm-web HPC dashboard agent
After=systemd-sysusers.service

[Service]
ExecStart=/usr/libexec/slurm-web/slurm-web-agent
Restart=on-failure
User=slurm

[Install]
WantedBy=multi-user.target
