[Unit]
Description=uWSGI instance for Slurm-web gateway
After=network.target

[Service]
User=slurm-web
Group=slurm-web
RuntimeDirectory=slurm-web-gateway
ExecStart=/usr/bin/uwsgi --ini /usr/share/slurm-web/wsgi/gateway/slurm-web-gateway.ini

[Install]
WantedBy=multi-user.target
