<div class="container-fluid">
  <div id="racks" class="main">
    <h1 class="page-header">
      Racks
    </h1>
    <canvas id="cv_rackmap" width="{{canvas.width}}" height="{{canvas.height}}" />
  </div>
</div>
