<div id="jobs">
  <h1 class="page-header">
    Jobs
  </h1>
  {{#if hasJobs}}
  <div class="row plots">
    <div id='alloc-cores' class='col-xs-6 col-sm-2 col-md-3 placeholder'>
      <div class='plot-sub-div'>
        <div id='plot-alloc-cores' class='plot-div-small'></div>
      </div>
      <h4>Allocated cores</h4>
    </div>
    <div id='jobs-states' class='col-xs-6 col-sm-2 col-md-3 placeholder'>
      <div class='plot-sub-div'>
        <div id='plot-jobs-states' class='plot-div-small'></div>
      </div>
      <h4>Jobs/State</h4>
    </div>
    <div id='part-cores' class='col-xs-6 col-sm-2 col-md-3 placeholder'>
      <div class='plot-sub-div'>
        <div id='plot-part-cores' class='plot-div-small'></div>
      </div>
      <h4>Cores/Partition</h4>
    </div>
    <div id='qos-cores' class='col-xs-6 col-sm-2 col-md-3 placeholder'>
      <div class='plot-sub-div'>
        <div id='plot-qos-cores' class='plot-div-small'></div>
      </div>
      <h4>Cores/QOS</h4>
    </div>
  </div>
  <div class="row filter">
    <div id="total-cpus"></div>
    <input id="filter" type="text" class="typeahead form-control" autocomplete="off" spellcheck="false" value="{{tagsinputOptions}}" />
  </div>
  <div id="table-jobs" class="row"></div>
  {{else}}
    <div>There is no job submission to display right now.</div>
  {{/if}}
</div>
