Source: slurm-web
Maintainer: CCN HPC <dsp-cspito-ccn-hpc@edf.fr>
Uploaders: Rémi Palancher <remi-externe.palancher@edf.fr>, Mehdi Dogguy <mehdi.dogguy@edf.fr>
Section: web
Priority: extra
Standards-Version: 3.9.6
Build-Depends:
 debhelper (>= 8),
 dh-python,
 python3-all,
 python3-setuptools,
 apache2-dev,
 node-uglify,
 fonts-dejavu-core,
 node-opentypejs (>> 0.4.3-1),

Package: slurm-web-common
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
 python3-flask,
Description: Slurm Web Python common files
 Slurm Web common Python module files.

Package: slurm-web-restapi
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
 slurm-web-common (= ${binary:Version}),
 apache2 | httpd,
 libapache2-mod-wsgi-py3,
 python3-pyslurm (>= 16.05),
 python3-clustershell,
 python3-ldap,
 python3-redis,
Description: Slurm Web Python REST API
 Slurm Web backend  REST API developed in Python using Flask web framework.

Package: slurm-web-confdashboard
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
 slurm-web-common (= ${binary:Version}),
 apache2 | httpd,
 libapache2-mod-wsgi-py3,
Description: Slurm Web conf dashboard
 Static Flask server to supply config files for the dashboard

Package: slurm-web-dashboard
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 slurm-web-confdashboard (= ${binary:Version}),
 javascript-common,
 libjs-bootstrap,
 libjs-jquery,
 libjs-jquery-flot,
 libjs-jquery-tablesorter,
 libjs-requirejs,
 libjs-requirejs-text,
 libjs-three (>= 72),
 libjs-bootstrap-typeahead,
 libjs-bootstrap-tagsinput,
 libjs-d3,
 libjs-handlebars,
 libjs-async
Description: Slurm Web HTML+JS dashboard
 The dashboard in HTML and Javascript that runs in a browser.

Package: slurm-web
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 slurm-web-restapi (= ${binary:Version}),
 slurm-web-dashboard (= ${binary:Version})
Description: Slurm Web meta-package with all components
 This meta-package installs both the REST API and the dashboard.
