#!/usr/bin/make -f

%:
	dh $@ --with apache2

override_dh_auto_build:
	uglifyjs -o js/libraries/xdomain.min.js js/libraries/xdomain.js
	mkdir -p js/fonts
	nodejs /usr/lib/nodejs/font-converter.js /usr/share/fonts/truetype/dejavu/DejaVuSansMono.ttf > js/fonts/DejaVuSansMono.typeface.js

override_dh_auto_clean:
	rm -f js/libraries/xdomain.min.js
	rm -f js/fonts
