[service]
cors=yes
port={{ service_port }}

[ui]
host=http://localhost:{{ service_port }}
{%- if ui is defined and ui %}
path={{ ui }}
{%- else %}
enabled=no
{%- endif %}

[agents]
url =
{%- for agent in agents %}
  http://localhost:{{ agent.service_port }}
{%- endfor %}

[jwt]
key={{ jwt_key }}

[ldap]
uri=ldap://localhost:{{ ldap_port }}
user_base=ou=people,dc=cluster,dc={{ ldap_base }}
group_base=ou=groups,dc=cluster,dc={{ ldap_base }}
