[roles]
{% if anonymous %}
anonymous

[anonymous]
actions=view-stats,view-jobs,view-nodes,view-partitions,view-qos
{% else %}

{% if policy_extra_user_group %}
user=@{{ groups[2].name }},@{{ groups[3].name }}
{% else %}
user=@{{ groups[2].name }}
{% endif %}
admin=@{{ groups[1].name }}
special={{ users[3].login }}

[user]
actions=view-stats,view-jobs

[admin]
actions=view-stats,view-jobs,view-nodes,view-partitions,view-qos,view-accounts,associations-view,view-reservations,cache-view,cache-reset

[special]
actions=view-qos
{% endif %}
