[Unit]
Description=uWSGI instance for Slurm-web agent
After=network.target

[Service]
# By default, this service runs with slurm-web. When local authentication is
# used on slurmrestd, this must be changed to run as slurm system user.
User=slurm-web
RuntimeDirectory=slurm-web-agent
ExecStart=/usr/bin/uwsgi --ini /usr/share/slurm-web/wsgi/agent/slurm-web-agent.ini

[Install]
WantedBy=multi-user.target
