<div class="container-fluid">
  <div id="3d-view" class="main">
    <h1 class="page-header">
      3D View
    </h1>
    <ul>
      <li style="color:red">X Axis</li>
      <li style="color:green">Y Axis</li>
      <li style="color:blue">Z Axis</li>
    </ul>
    <canvas width="0" height="0"/>
  </div>
</div>
