<div id="clusters" class="navbar-inverse">
  <span class="text">
    CLUSTERS
  </span>
  <div>
    {{#each clusters}}
      <div class="cluster" data-id="{{@index}}" title="{{name}}">{{@index}}</div>
    {{/each}}
  </div>
</div>
