<div class="container-fluid">
  <div id="jobsmap" class="main">
    <h1 class="page-header">
      Jobs Map
    </h1>
    <canvas id="cv_rackmap" width="{{canvas.width}}" height="{{canvas.height}}" />
  </div>
</div>
