<div id="topology">
  <h1 class="page-header">
    Topology
  </h1>
  {{#if error}}
    <div class="alert alert-danger" role="alert">
      Error : {{error}}
    </div>
  {{else}}
    {{#if noData}}
      <p>There is no data to display.</p>
    {{else}}
      <div class="wrapper"></div>
    {{/if}}
  {{/if}}
</div>
